/* Error: Missing argument $heigth.
 *   ,--> src\scss\_buttons.scss
 * 30|             @include font-style (1.6rem, 400);
 *   |             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> src\scss\_mixins.scss
 * 2 | @mixin font-style ($size, $weight, $heigth) {
 *   |        ==================================== declaration
 *   '
 *   src\scss\_buttons.scss 30:13  font-style()
 *   src\scss\_buttons.scss 30:13  @import
 *   src\scss\styles.scss 6:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $heigth.\a   \250c \2500 \2500 > src\\scss\\_buttons.scss\a 30\2502              @include font-style (1.6rem, 400);\d\a   \2502              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > src\\scss\\_mixins.scss\a 2 \2502  @mixin font-style ($size, $weight, $heigth) {\d\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   src\\scss\\_buttons.scss 30:13  font-style()\a   src\\scss\\_buttons.scss 30:13  @import\a   src\\scss\\styles.scss 6:9      root stylesheet";
}
