@import 'reset';
@import 'colors';
@import 'texts';

.buttons {
    margin-top: 4.6rem;
    button {
        position: relative;
        width: 22.5rem;
        height: 4.5rem;
        transform: skew(-15deg);
        cursor: pointer;
        background: $bg-button;
        border: 0;
        @extend %uppercase;
      &:hover {
          background: transparent;
          border: .2rem solid $border;
      }
        a {
            position: absolute;
            left: 19%;
            top: 25%;
            text-decoration: none;
            transform: skew(15deg);
    
            @include font-style (1.6rem, 400);
        }
    }
    .play {
        margin-right: 2rem;
        a {
            display: inline-flex;    
        }
        img {
            margin-right: 1rem;
        }
    }
}