@import 'keyframes' ;

header {
    @extend %flex;
    height: 12.1rem;
    svg {
        margin: 0 1.5rem;
        transition: fill 0.2s;
        &:hover {
            fill: $color-dark;
        }
    }
}
.main-container {
    @extend %flex;
    flex-wrap: wrap;
    padding: 1.65rem;

    #bg {
        img {
            animation: animation 5s ease-out infinite;
        }
    }
 
}
