@import 'keyframes' ;

header {
    @extend %flex;
    height: 12.1rem;
    img {
        margin: 0 1.5rem;
        transition: fill 0.2s;
        &:hover {
            color: $bg-button;
        }
    }
}
.main-container {
    @extend %flex;
    flex-wrap: wrap;
    padding: 1.65rem;

    #bg {
        img {
            animation: animation 10s ease-out infinite;
        }
    }
 
}
