header {
    @extend %flex;
    height: 12.1rem;
    justify-content: space-between;
   img {
    margin: 0 1.5rem;


    &:hover {
        color: $bg-button;
    }
   }
}
 
   .main {
       padding: 0 16.5rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
   
   }



