@media (max-width:900px) {
   
    main {
     flex-direction: column-reverse;
     align-items: center;
     justify-content: center;
    .buttons {
        display: none;
        .trailer {
            display: none;
        }
    }
    #bg {
        img {
            width: 100%;
        }
    }

    
    }
    
}