@media (max-width:1200px) {

    .container{
        overflow-x: hidden;
    }
    .main-container {
        flex-direction: column-reverse;
        .buttons {
        .trailer {
            display: none;
        }
    }
    #bg {
        img {
            width: 100%;
        }
    }

    #texts {
      width:90%;
    }
    }
}