@media (max-width: 1200px) {


    .container {
        overflow-x: hidden; 
        header {
            width: 80%;
         }
    }
    .main-container {
        padding: 4rem 0;
        flex-direction: column-reverse;
        .buttons {
            .trailer {
                display: none;
            }
        }
        #bg {
            img {
                width: 100%;
            }
        }

    }

    #texts {
        width: 80%;

        h2 {
            font-size: 2rem;
        }
        h1 {
            font-size: 5.6rem;
        }
        p {
            width: 100%;
           font-size: 1.6rem
        }
    }
}
