@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

@import 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: $text;
}

@mixin font-style ($size, $weight) {
    font-size:$size;
    font-weight:$weight;
}

%flex {
    display: flex; 
    max-width: 120rem; 
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
body {
    background: $bg;
    background-repeat: no-repeat;
    box-shadow: $box-shadow;
}
