
@import 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: $text;
}
body {
    background: $bg;
    background-repeat: no-repeat;
    box-shadow: $box-shadow;
}

