@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

h2 {
    margin-bottom: 1.4rem;
    @include font-style(2rem, 700)
}
h1 {
    margin-bottom: 2.5rem;
    @include font-style(6.8rem, 900)
}
p {
    width: 44.5rem;
    
    @include font-style(1.6rem, 400)
}