@import 'reset';
@import 'colors';
@import 'texts'; 
@import 'buttons';

header {
    display: flex;
    max-width: 120rem;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 4.1rem ;

   img {
       margin: 0 1.5rem;
   }
    }
main {
    display: flex;
    flex-wrap: wrap;
}