@import 'reset';
@import 'colors';
@import 'texts'; 
@import 'buttons';
@import 'mobile';

header {
    @extend %flex;
    height: 10rem;
   img {
    margin: 0 1.5rem;
    transition: fill 0.2s;
   }
}
main {
   
    @extend %flex;
    flex-wrap: wrap;

}